/* You can add global styles to this file, and also import other style files */
:root {
    --light-blue: #e0f7fa;
    --dark-blue: #00897b;
    --main-color: #61b3d8;
    --text-color: #333;
    --border-radius: 8px;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }