<div class="container py-5">
  <div
    class="logo-container mb-4 d-flex justify-content-center align-items-center">
    <img src="assets/images/logo.jpg" alt="Logo" class="logo-img img-fluid">
  </div>

  <div class="card p-4 mx-auto">
    <h3 class="mb-3 text-center">Registro</h3>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <!-- Nombre completo -->
      <div class="mb-3">
        <label for="signupName" class="form-label">Nombre Completo</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': signUpForm.get('name')?.invalid && (signUpForm.get('name')?.dirty || signUpForm.get('name')?.touched)}"
          id="signupName"
          placeholder="Escribe tu nombre completo"
          formControlName="name"
          required>
        <div
          *ngIf="signUpForm.get('name')?.invalid && (signUpForm.get('name')?.dirty || signUpForm.get('name')?.touched)"
          class="invalid-feedback d-block">
          El nombre es obligatorio.
        </div>
      </div>

      <!-- Correo -->
      <div class="mb-3">
        <label for="signupEmail" class="form-label">Correo institucional</label>
        <input
          type="email"
          class="form-control"
          [ngClass]="{'is-invalid': signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)}"
          id="signupEmail"
          placeholder="Escribe tu correo institucional"
          formControlName="email"
          required>
        <div
          *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"
          class="invalid-feedback d-block">
        El correo es obligatorio y debe ser válido.
        </div>
      <div *ngIf="signUpForm.get('email')?.hasError('pattern') && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"
         class="invalid-feedback d-block">
      El correo debe pertenecer al dominio institucional <strong>@uao.edu.co</strong>.
      </div>
      </div>

      <!-- Tipo de usuario -->
      <div class="mb-3">
        <label for="signupUserType" class="form-label">Tipo de usuario</label>
        <select
          class="form-select"
          [ngClass]="{'is-invalid': signUpForm.get('userType')?.invalid && (signUpForm.get('userType')?.dirty || signUpForm.get('userType')?.touched)}"
          id="signupUserType"
          formControlName="userType"
          required
          aria-describedby="userTypeHelp">
          <option value="" disabled>Selecciona el tipo de usuario</option>
          <option value="Docente">Docente</option>
          <option value="Estudiante">Estudiante</option>
          <option value="Secretaria">Secretaría</option>
        </select>
        <div
          *ngIf="signUpForm.get('userType')?.invalid && (signUpForm.get('userType')?.dirty || signUpForm.get('userType')?.touched)"
          class="invalid-feedback d-block">
          El tipo de usuario es obligatorio.
        </div>
      </div>

      <!-- Campos condicionales -->
      <div class="mb-3" *ngIf="signUpForm.get('userType')?.value === 'Docente'">
        <label for="signupCargo" class="form-label">Cargo</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': signUpForm.get('cargo')?.invalid && (signUpForm.get('cargo')?.dirty || signUpForm.get('cargo')?.touched)}"
          id="signupCargo"
          placeholder="Escribe tu cargo"
          formControlName="cargo"
          required>
        <label for="signupAcademic" class="form-label">Unidad académica</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': signUpForm.get('academicUnit')?.invalid && (signUpForm.get('academicUnit')?.dirty || signUpForm.get('academicUnit')?.touched)}"
          id="signupAcademic"
          placeholder="Escribe tu unidad académica"
          formControlName="academicUnit"
          required>
        <div
          *ngIf="signUpForm.get('academicUnit')?.invalid && (signUpForm.get('academicUnit')?.dirty || signUpForm.get('academicUnit')?.touched)"
          class="invalid-feedback d-block">
          La unidad académica es obligatoria.
        </div>
      </div>

      <div class="mb-3" *ngIf="signUpForm.get('userType')?.value === 'Estudiante'">
        <label for="signupCodigoEstudiantil" class="form-label">Código estudiantil</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': signUpForm.get('codigoEstudiantil')?.invalid && (signUpForm.get('codigoEstudiantil')?.dirty || signUpForm.get('codigoEstudiantil')?.touched)}"
          id="signupCodigoEstudiantil"
          placeholder="Escribe tu código estudiantil"
          formControlName="codigoEstudiantil"
          required>
        <label for="signupProgram" class="form-label">Programa</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': signUpForm.get('program')?.invalid && (signUpForm.get('program')?.dirty || signUpForm.get('program')?.touched)}"
          id="signupProgram"
          placeholder="Escribe tu programa"
          formControlName="program"
          required>
        <div
          *ngIf="signUpForm.get('program')?.invalid && (signUpForm.get('program')?.dirty || signUpForm.get('program')?.touched)"
          class="invalid-feedback d-block">
          El programa es obligatorio.
        </div>
      </div>

      <div class="mb-3" *ngIf="signUpForm.get('userType')?.value === 'Secretaria'">
        <label for="signupFaculty" class="form-label">Facultad</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': signUpForm.get('faculty')?.invalid && (signUpForm.get('faculty')?.dirty || signUpForm.get('faculty')?.touched)}"
          id="signupFaculty"
          placeholder="Escribe tu facultad"
          formControlName="faculty"
          required>
        <div
          *ngIf="signUpForm.get('faculty')?.invalid && (signUpForm.get('faculty')?.dirty || signUpForm.get('faculty')?.touched)"
          class="invalid-feedback d-block">
          La facultad es obligatoria.
        </div>
      </div>

      <!-- Contraseñas -->
      <div class="mb-3">
        <label for="signupPassword" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="{'is-invalid': signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)}"
          id="signupPassword"
          placeholder="Escribe tu contraseña"
          formControlName="password"
          required>
        <div
          *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)"
          class="invalid-feedback d-block">
          La contraseña debe tener al menos, <br>
          6 caracteres, una mayúscula y un número.
        </div>
      </div>

      <div class="mb-3">
        <label for="signupConfirmPassword" class="form-label">Confirma tu contraseña</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="{'is-invalid': (signUpForm.errors?.['passwordsMismatch']) && (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)}"
          id="signupConfirmPassword"
          placeholder="Escribe tu contraseña de nuevo"
          formControlName="confirmPassword"
          required>
        <div
          *ngIf="(signUpForm.errors?.['passwordsMismatch']) && (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)"
          class="invalid-feedback d-block">
          Las contraseñas deben coincidir.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100 mb-4">Crear cuenta</button>
    </form>
  

  <div class="text-center mt-3">
    <a
      routerLink="/signin"
      class="btn btn-link p-0"
      role="button"
      style="color:#176a6a; font-weight:600;">
      ¿Ya tienes cuenta? Inicia sesión aquí
    </a>
  </div>
</div>
