<div class="container">
  <div class="logo-container">
    <img src="assets/images/logo.jpg" alt="Logo" class="logo-img">
  </div>

  <!-- Formulario de inicio de sesión -->
  <div *ngIf="selectedMenu === 'signin'" class="card">
    <h3 class="mb-3 text-center">Inicio de sesión</h3>
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <div class="mb-3">
        <label for="signinEmail" class="form-label">Correo institucional</label>
        <input
          type="email"
          class="form-control"
          id="signinEmail"
          placeholder="Escribe tu correo institucional"
          formControlName="email"
          required>
        <div *ngIf="signInForm.get('email')?.invalid && (signInForm.get('email')?.dirty || signInForm.get('email')?.touched)"
             class="text-danger">
          El correo es obligatorio y debe ser válido.
        </div>
      </div>
      <div class="mb-3">
        <label for="signinPassword" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="signinPassword"
          placeholder="Escribe tu contraseña"
          formControlName="password"
          required>
        <div *ngIf="signInForm.get('password')?.invalid && (signInForm.get('password')?.dirty || signInForm.get('password')?.touched)"
             class="text-danger">
          La contraseña es obligatoria.
        </div>
      </div>
      <button type="submit" class="btn mb-4">Iniciar sesión</button>
    </form>
  </div>
  <div class="text-center mt-3" *ngIf="selectedMenu === 'signin'">
      <a (click)="selectedMenu = 'signup'" class="link-signup" role="button">
        ¿Aún no tienes cuenta? Créala aquí
      </a>
  </div>
  <div class="text-center mt-3" *ngIf="selectedMenu === 'signin'">
    <a (click)="selectedMenu = 'forgetpassword'" class="link-forgetpwd" role="button">
      ¿Se te olvidó tu contraseña?
    </a>
</div>

  <!-- Formulario de registro -->
  <div *ngIf="selectedMenu === 'signup'" class="card">
    <h3 class="mb-3 text-center">Registro</h3>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <div class="mb-3">
        <label for="signupName" class="form-label">Nombre Completo</label>
        <input
          type="text"
          class="form-control"
          id="signupName"
          placeholder="Escribe tu nombre completo"
          formControlName="name"
          required>
          <div *ngIf="signUpForm.get('name')?.invalid && (signUpForm.get('name')?.dirty || signUpForm.get('name')?.touched)" class="text-danger">
            El nombre es obligatorio.
          </div>
      </div>
      <div class="mb-3">
        <label for="signupEmail" class="form-label">Correo institucional</label>
        <input
          type="email"
          class="form-control"
          id="signupEmail"
          placeholder="Escribe tu correo institucional"
          formControlName="email"
          required>
        <div *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"
             class="text-danger">
          El correo es obligatorio y debe ser válido.
        </div>
      </div>
      <div class="mb-3">
        <label for="signupFaculty" class="form-label">Facultad</label>
        <input
          type="text"
          class="form-control"
          id="signupFaculty"
          placeholder="Escribe tu facultad"
          formControlName="faculty"
          required>
          <div *ngIf="signUpForm.get('faculty')?.invalid && (signUpForm.get('faculty')?.dirty || signUpForm.get('faculty')?.touched)" class="text-danger">
            La facultad es obligatoria.
          </div>
      </div>
      <div class="mb-3">
        <label for="signupAcademic" class="form-label">Unidad académica</label>
        <input
          type="text"
          class="form-control"
          id="signupAcademic"
          placeholder="Escribe tu unidad académica"
          formControlName="academicUnit"
          required>
          <div *ngIf="signUpForm.get('academicUnit')?.invalid && (signUpForm.get('academicUnit')?.dirty || signUpForm.get('academicUnit')?.touched)" class="text-danger">
            La unidad académica es obligatoria.
          </div>
      </div>
      <div class="mb-3">
          <label for="signupUsertype" class="form-label">Tipo de usuario</label>
          <select
            class="form-control"
            id="signupUsertype"
            formControlName="userType"
            required>
            <option value="" disabled selected>Selecciona el tipo de usuario  ⬇</option>
            <option value="docente">Docente</option>
            <option value="estudiante">Estudiante</option>
            <option value="secretario">Secretario</option>
          </select>
          <div *ngIf="signUpForm.get('userType')?.invalid && (signUpForm.get('userType')?.dirty || signUpForm.get('userType')?.touched)" class="text-danger">
            El tipo de usuario es obligatorio.
          </div>
      </div>
      <div class="mb-3">
        <label for="signupPassword" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="signupPassword"
          placeholder="Escribe tu contraseña"
          formControlName="password"
          required>
          <div *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)" class="text-danger">
            La contraseña es obligatoria, debe tener al menos 6 caracteres, una mayúscula y un número.
          </div>
      </div>
      <div class="mb-3">
        <label for="signupConfirmPassword" class="form-label">Confirma tu contraseña</label>
        <input
          type="password"
          class="form-control"
          id="signupConfirmPassword"
          placeholder="Escribe tu contraseña de nuevo"
          formControlName="confirmPassword"
          required>
        <div *ngIf="signUpForm.get('confirmPassword')?.invalid &&
                   (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)"
             class="text-danger">
          Las contraseñas deben coincidir.
        </div>
      </div>
      <button type="submit" class="btn mb-4">Crear cuenta</button>
    </form>
  </div>
  <div class="text-center mt-3" *ngIf="selectedMenu === 'signup'">
      <a (click)="selectedMenu = 'signin'" class="link-signin" role="button" >
        ¿Ya tienes cuenta? Inicia sesión aquí
      </a>
  </div>



  <div *ngIf="selectedMenu === 'forgetpassword'" class="card">
    <h3 class="mb-3 text-center">Recupera tu contraseña</h3>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <div class="mb-3">
        <label for="signupEmail" class="form-label">Escribe tu correo institucional</label>
        <input
          type="email"
          class="form-control"
          id="signupEmail"
          placeholder="Escribe tu correo institucional"
          formControlName="email"
          required>
        <div *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"
             class="text-danger">
          El correo es obligatorio y debe ser válido.
        </div>
      </div>
      <button type="submit" class="btn mb-4">Enviar contraseña</button>


      <div class="mb-3">
        <label for="signupFaculty" class="form-label">Escribe la contraseña que fue enviada a tu correo</label>
        <input
          type="text"
          class="form-control"
          id="signupFaculty"
          placeholder="Escribe tu contraseña"
          formControlName="faculty"
          required>
      </div>
      <button type="submit" class="btn mb-4">Validar contraseña</button>
    </form>  
</div>

